@import "../../../scss/variables";

.header {
  z-index: 99;

  .container {
    @media (min-width: $xxl) {
      max-width: 1180px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .logo {
    width: 193px;

    @media (min-width: $md) {
      width: 247px;
    }
  }

  &__top {
    background-color: #434245;
    z-index: 10;
    position: relative;

    @media (min-width: $md) {
      background-color: #fff;
      border-bottom: 2px solid #eee;
    }

    &__wrap {
      height: 44px;
      padding-left: 15px;
      padding-right: 15px;

      @media (min-width: $md) {
        height: 64px;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__body {
      width: 100%;
    }
  }

  .region {
    @media (min-width: $xxl) {
      align-items: flex-start !important;
    }

    &__caption {
      font-weight: 300;
      cursor: pointer;
    }

    &__description {
      color: $clr-accent;
      font-weight: 400;
      cursor: pointer;

      @media (min-width: $md) {
        font-weight: 700;
      }

      &::after {
        content: "";
        display: inline-block;
        position: relative;
        margin-left: 8px;
        transform: translateY(-3px) rotate(-45deg);
        width: 5px;
        height: 5px;
        border-left: 1px solid $clr-accent;
        border-bottom: 1px solid $clr-accent;
      }
    }

    &__map-marker {
      width: 12px;
      height: 17px;
      top: -2px;
      margin-right: 7px;
      position: relative;
    }
  }

  .nav {

    &__list {
      flex-direction: column;

      @media (min-width:  $xxl) {
        flex-direction: row;
      }
    }

    &__link {
      color: $clr-font;
      transition: $fnc-line;
      height: 50px;
      display: flex;
      align-items: center;
      position: initial;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 1px;
        background-color: $clr-accent;
        transition: $fnc-line;
        top: 41px;
        left: 50%;
        opacity: 0;
      }

      @media (min-width: $xxl) {
        height: 64px;
        position: relative;
      }

      &.drop {
        margin-right: 12px;

        &::after {
          content: "";
          display: none;
          position: absolute;
          margin-left: 10px;
          border-left: 2px solid $clr-font;
          border-bottom: 2px solid $clr-font;
          transition: $fnc-line;
          right: -12px;
          top: 50%;
          transform: translate(0, -3px) rotate(-45deg);
          width: 5px;
          height: 5px;
          border-left: 1px solid $clr-font;
          border-bottom: 1px solid $clr-font;

          @media (min-width: $xxl) {
            display: inline-block;
          }
        }
      }
    }

    &__item {
      background-color: #eeeeee;
      padding: 0 30px;
      border-bottom: 2px solid white;
      position: relative;

      @media (min-width: $xxl) {
        background-color: transparent;
        margin-right: 43px;
        padding: 0;
        border-bottom: none;

        &:hover {
          .dropdown__list {
            opacity: 1;
            padding: 7px 22px 20px;

            &.company {
             max-height: 100px;
            }
          }

          .nav__link {
            color: $clr-accent;

            &::before {
              left: 0;
              width: 100%;
              opacity: 1;
            }

            &.drop {
              &::after {
                border-color: $clr-accent;
              }
            }
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &.drop {
        @media (min-width: $xxl) {
          flex-direction: row;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          right: 30px;
          top: 24px;
          -webkit-transform: translateY(-3px) rotate(-45deg);
          -ms-transform: translateY(-3px) rotate(-45deg);
          transform: translateY(-3px) rotate(-45deg);
          width: 8px;
          height: 8px;
          border-left: 2px solid #000;
          border-bottom: 2px solid #000;
          -webkit-transition: all .3s linear;
          -o-transition: all .3s linear;
          transition: all .3s linear;

          @media (min-width: $xxl) {
            display: none;
          }
        }
      }

      .dropdown {
        &__list {
          max-height: 0;
          height: auto;
          transition: $fnc-animation;
          position: relative;
          width: calc(100% + 60px);
          background-color: #434245;
          margin-left: -30px;

          @media (min-width: $xxl) {
            transition: $fnc-animation;
            position: absolute;
            width: auto;
            min-width: calc(100% + 35px);
            margin-left: 0;
            left: -20px;
            top: 100%;
            overflow: hidden;
            background-color: white;
            box-shadow: 2px 8px 8px rgba(0,0,0,.07);
            border: 2px solid #eee;
            border-top: none;
            max-height: 0;
            padding: 0 22px;
            opacity: 0;
          }
        }

        &__item {

          background-color: transparent !important;

          @media (min-width: $xl) {

          }


          &:last-child > a {
            margin-bottom: 0;
          }
        }

        &__link {
          transition: $fnc-line;
          position: relative;
          display: inline-block;
          text-transform: initial !important;
          color: white !important;

          @media (min-width: $xxl) {
            color: $clr-font !important;
            margin-bottom: 12px;

            &:hover {
              color: $clr-accent !important;
            }
          }


          &::before {
            content: "";
            display: none;
            width: 100%;
            height: 1px;
            background-color: $clr-accent;
            left: 0;
            bottom: 0;
            position: absolute;

            @media (min-width: $xxl) {
              display: block;
            }
          }
        }
      }

      &.visible {
        .dropdown__list {
          &.company {
            max-height: 110px;
          }
        }

        &.drop::after {
          border-color: $clr-accent;
          transform: rotate(135deg);
        }

        .nav__link::after {
          @media (max-width: $xl - 1) {
            border-color: $clr-accent;
            transform: rotate(135deg);
          }
        }
      }
    }
  }

  .cart {
    padding-right: 0;
    transform: scale(0.8);

    @media (min-width: $md) {
      transform: none;
    }

    &__caption {
      display: none;
      margin-right: 0;

      @media (min-width: $md) {
        display: block;
        margin-right: 9px;
      }
    }

    &__items {
      width: 70px;
      height: 30px;
      position: relative;
      top: 3px;
      background: url("/img/cart-back.png") center no-repeat;

      &__num {
        color: $clr-light;
        font-weight: 700;
        position: absolute;
        top: 3px;
        left: 23px;
        transform: translateX(-50%);
      }
    }
  }

  &__bottom {
    border-bottom: 2px solid #eee;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: white;
      top: 0;
      left: 0;
      z-index: 3;
    }

    &__container {
      z-index: 7;
      position: relative;
    }



    &__wrap {
      height: 61px;

      @media (min-width: $md) {
        margin-left: -15px;
        margin-right: -15px;
        height: 86px;
      }
    }
  }

  .products {
    position: absolute;
    width: 100%;
    left: 0;
    top: 63px;
    height: calc(100vh - 107px);
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateY(-110%);
    transition: $fnc-line;

    @media (min-width: $md) {
      top: 88px;
      height: calc(100vh - 154px);
    }

    @media (min-width: $xxl) {
      position: relative;
      width: auto;
      height: auto !important;
      top: auto !important;
      transform: translateY(0);
      overflow: visible;
    }

    &__list {
      flex-direction: column;
      width: 100%;
      background-color: white;

      @media (min-width: $xxl) {
        flex-direction: row;
      }
    }

    &__item {
      position: relative;
      border-bottom: 2px solid #eeeeee;

      @media (min-width: $xxl) {
        padding: 0 40px;
        height: 86px;
        border: none;

        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: -4px;
          width: 100%;
          height: 15px;
          background-color: white;
          left: 0;
          z-index: 10;
          opacity: 0;
          transition: $fnc-line;
        }
      }

      &:last-child {
        &::after {
          content: none;
        }
      }

      &::after {        
        content: "";
        display: none;
        position: absolute;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 57px;
        background-color: #eee;
        
        
        @media (min-width: $xxl) {
          display: block;
        }
      }

      @media (min-width: $xxl) {
        &:hover {
          .products__link {
            color: $clr-accent;

            &::before {
              width: 100%;
              left: 0;
              opacity: 1;
            }
          }
        }
      }

      &.drop {
        position: relative;
        max-height: none !important;

        @media (min-width: $xxl) {
          &:hover {
            &::before {
              opacity: 1;
            }


            .products__dropdown {
              box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.15);
              border: 2px solid #eee;
              background-color: $clr-light ;
              &.concrete, &.rubble {
                max-height: 179px !important;
              }
            }
            .products__link {
              &.drop{
                &::after {
                  border-color: $clr-accent;
                }
              }
            }
          }
        }
      }
    }

    &__dropdown {
      transition: all .4s $fnc-primary;
      position: relative;
      left: 0;
      max-height: none;
      height: auto;
      border: none;
      flex-direction: column;
      max-height: 0;
      overflow: hidden;

      @media (min-width: $xxl) {
        position: absolute;
        flex-direction: row;

        &.concrete, &.rubble {
          height: 179px;
          box-shadow: 2px 1px 8px rgba(0, 0, 0, 0);
          border: 2px solid transparent;
          background-color: transparent;
          max-height: 0;
          overflow: hidden;
        }

        &.concrete {
          width: 768px;
          left: -53px;
        }

        &.rubble {
          width: 290px;
          left: -54px;
        }

      }
    }

    .dropdown__item {
      padding: 0 30px;
      height: 50px;
      background-color: #eeeeee;
      border-bottom: 2px solid white;
      display: flex;
      align-items: center;
      box-sizing: initial;

      @media (min-width: $xxl) {
        padding: 0;
        height: auto;
        background-color: transparent;
        border: none;
        display: inline-block;
        box-sizing: border-box;
      }
    }

    .dropdown-list {
      padding: 0;
      position: relative;
      width: 100%;

      @media (min-width: $xxl) {
        width: auto;
        padding: 0 25px;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;

        .dropdown__item:last-child {
          border: none;
        }

        &::after {
          content: none;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 2px;
        height: 92%;
        background-color: #eee;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .dropdown__link {
      color: #010101;
      font-family: $fnt-secondary;
      font-size: 15px;
      font-weight: 400;
      line-height: 17px;
      text-transform: uppercase;
      position: relative;
      transition: $fnc-line;

      @media (min-width: $xxl) {
        line-height: 30px;

        &:hover {
          color: $clr-accent;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $clr-accent;
        position: absolute;
        bottom: -2px;
      }
    }

    &__link {
      height: 69px;
      color: $clr-font;
      font-size: 21px;
      font-weight: 400;
      display: flex;
      align-items: center;
      transition: $fnc-line;
      position: relative;
      padding: 0 30px;

      @media (min-width: $xxl) {
        height: 86px;
        padding: 0;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 29px;
        left: 50%;
        width: 0;
        opacity: 0;
        height: 1px;
        background-color: $clr-accent;
        transition: $fnc-line;
      }

      &.drop {
        margin-right: 0;

        &::after {
          content: "";
          display: block;
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-3px) rotate(-45deg);
          width: 8px;
          height: 8px;
          border-left: 2px solid $clr-font;
          border-bottom: 2px solid $clr-font;
          transition: $fnc-line;

          @media (min-width: $xxl) {
            right: -16px;
          }
        }

        @media (min-width: $xxl) {
          margin-right: 19px;
        }
      }
    }

    .visible {
      .products__link:after {
        border-left: 2px solid $clr-accent;
        border-bottom: 2px solid $clr-accent;
        transform: rotate(135deg);
      }
    }
  }

  .nav-tglr {
    height: 44px;
    width: 25px;
    position: relative;
    cursor: pointer;
    display: block;
    transform: rotate(0);
    transition: $fnc-line;

    @media (min-width: $md) {
      height: 60px;
    }
    
    @media (min-width: $xxl) {
      display: none;
    }

    &__burger {
      width: 25px;
      height: 4px;
      background-color: white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @media (min-width: $md) {
        background-color: #434245;
      }

      &::before, &::after {
        content: "";
        display: block;
        width: 25px;
        height: 4px;
        background-color: white;
        position: absolute;
        left: 0;

        @media (min-width: $md) {
          background-color: #434245;
        }
      }

      &::before {
        top: -9px;
      }

      &::after {
        bottom: -9px;
      }

    }
  }

  .handset {
    width: 22px;
    height: 22px;
    
    @media (min-width: $md) {
      display: none;
    }
  }

  .visible {
    .products__dropdown {
      &.concrete {
        max-height: 840px;
      }

      &.rubble {
        max-height: 110px;
      }
    }
  }
}

.phone-visible .operating {
  top: 0;
}

.nav-visible {
  .products {
    transform: translateY(0);
  }

  .nav-tglr {
    transform: rotate(90deg);
  }

}

.operating {
  position: fixed;
  top: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #eeeeee;
  transition: $fnc-line;
  z-index: 999;

  @media (min-width: $md) {
    position: relative;
    top: initial;
    left: initial;
    width: auto;
    height: auto;
    background-color: inherit;
  }

  &__phone {
    font-size: 21px;
    font-weight: 700;

    a {
      color: $clr-font;
    }
  }
}
