//- Include used template for this page
extends ../../templates/template

//- Including mixins
include ../../mixins/bread-crumbs/_bread-crumbs
include ../../mixins/page-title/_page-title
include ../../mixins/request/_requset
include ../../mixins/advantages/_advantages
include ../../mixins/promo/_promo

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Карточка товара'
    - let description = ''
    - let keywords    = ''
    - let pageClass   = 'page-product'

block content
    +bread-crumbs("Главная", "Продукция", "Бетон", "М100 В7,5 F50 Ж3 W2")

    +page-title("Бетон М100 B7,5 F50 Ж3 W2")

    include _product

    +request('', 'request-lab', 'request-lab.png', 'СОБСТВЕННАЯ ЛАБОРАТОРИЯ', 'Наша лаборатория предоставляет широкий спектр лабораторного сопровождения объектов строительства.', 'узнать больше')

    include ../../mixins/prices/_prices

    +advantages(
      ["", "advantages-5.png", "Непрерывный процесс производства"],
      ["px-5", "advantages-6.png", "Широчайший ассортимент"],
      ["px-5", "advantages-7.png", "Высокий уровень сервиса"],
      ["px-5", "advantages-8.png", "Вся продукция сертифицирована"])

    +promo