.catalog-rubble
    .container
        .row.justify-content-center
            .col-sm-6.col-lg-4.col-xl-3.catalog__item.d-flex.flex-column.justify-content-start.align-items-center
                .prices__pic(style="background-image: url('/img/catalog-rubble-1.jpg')")
                .prices__caption ЩЕБЕНЬ
                .prices__desc Гранитный щебень 5-20
                .prices__price
                    | от
                    span 256
                    | руб.
                .prices__btn
                    a(href="/").btn ПОДРОБНЕЕ

            .col-sm-6.col-lg-4.col-xl-3.catalog__item.d-flex.flex-column.justify-content-start.align-items-center
                .prices__pic(style="background-image: url('/img/catalog-rubble-2.jpg')")
                .prices__caption ЩЕБЕНЬ
                .prices__desc Доломитовый щебень
                .prices__price
                    | от
                    span 290
                    | руб.
                .prices__btn
                    a(href="/").btn ПОДРОБНЕЕ

            .col-sm-6.col-lg-4.col-xl-3.catalog__item.d-flex.flex-column.justify-content-start.align-items-center
                .prices__pic(style="background-image: url('/img/catalog-rubble-3.jpg')")
                .prices__caption ЩЕБЕНЬ
                .prices__desc Гранитный щебень 20-40
                .prices__price
                    | от
                    span 271
                    | руб.
                .prices__btn
                    a(href="/").btn ПОДРОБНЕЕ

            .col-sm-6.col-lg-4.col-xl-3.catalog__item.d-flex.flex-column.justify-content-start.align-items-center
                .prices__pic(style="background-image: url('/img/catalog-rubble-4.jpg')")
                .prices__caption ЩЕБЕНЬ
                .prices__desc Гранитный щебень 40-70
                .prices__price
                    | от
                    span 256
                    | руб.
                .prices__btn
                    a(href="/").btn ПОДРОБНЕЕ


