.partners.section_container
    .container
        .partners__title.section_title Наши партнеры
        .partners__slider
            .slider
                .slider__controller.slider__controller_left.slider-controller-left
                .slider__controller.slider__controller_right.slider-controller-right
                .slider__viewport
                    .slider__list.d-flex
                        .slider__item
                            img(src="/img/PSE_Engineering_Gmb.jpg" alt="" title="")
                        .slider__item
                            img(src="/img/Liebherr.jpg" alt="" title="")
                        .slider__item
                            img(src="/img/teka.jpg" alt="" title="")
                        .slider__item
                            img(src="/img/schwing_stetter.jpg" alt="" title="")

                        .slider__item
                            img(src="/img/PSE_Engineering_Gmb.jpg" alt="" title="")
                        .slider__item
                            img(src="/img/Liebherr.jpg" alt="" title="")
                        .slider__item
                            img(src="/img/teka.jpg" alt="" title="")
                        .slider__item
                            img(src="/img/schwing_stetter.jpg" alt="" title="")



