.product-rubble
    .container
        .row
            .col-xl-6.image__wrap
                .image(style="background-image: url(/img/product-rubble.jpg)")

            .col-xl-6.specifications__wrap
                .specifications
                    h5.specifications__title Характеристики:

                    ul.specifications__list
                        li.specifications__item.d-flex.justify-content-between
                            span.specifications__parametr Порода
                            span.specifications__value гранит

                        li.specifications__item.d-flex.justify-content-between
                            span.specifications__parametr Прочность
                            span.specifications__value 1400

                        li.specifications__item.d-flex.justify-content-between
                            span.specifications__parametr Морозостойкость, F
                            span.specifications__value F300

                        li.specifications__item.d-flex.justify-content-between
                            span.specifications__parametr Группа лещадности
                            span.specifications__value IV группа

                        li.specifications__item.d-flex.justify-content-between
                            span.specifications__parametr Насыпной коэффициент
                            span.specifications__value 1.34

            .col-xl-6.description__wrap
                .description
                    .description__content
                        p В компании #[b «Евробетон»] Вы можете купить щебень любых фракций и в любых объемах. Мы поставляем исключительно щебень высокого качества, которая отлично подходит для использования в обустройстве фундаментов, прокладывании дорог и других строительных целей. Наша компания сотрудничает с большинством крупных строительных компаний Москвы, что подтверждает высокий уровень качества и организации процесса доставки.

                    .description__toggler Развернуть

            .col-xl-6.actions__wrap
                .actions
                    .actions__price.
                        Стоимость:
                        #[span от 369 руб]

                    .actions__btns.d-flex.flex-column.align-items-center.flex-xl-row.align-items-xl-start
                        .actions__txt
                            a.btn(href="") РАССЧИТАТЬ ПОЛНУЮ СТОИМОСТЬ
                            .actions__comment Отгрузка осуществляется железнодорожным, водным и автомобильным транспортом.
                        a.btn.btn_call(href="")
                            img(src="/img/phone.png" alt="" title="")

                    .actions__offer.d-flex.flex-column.align-items-center.flex-xl-row.justify-content-between
                        span #[b Нужно свыше 300 тонн?] Тогда нажимай!
                        a.btn(href="") Персональное предложение

