mixin advantages(...dataList)
    .advantages.section_container
        .container
            .row
                each val in dataList
                    .col-md-6.col-xl-3.advantages__card-wrap
                        .advantages__card.d-flex.flex-column.justify-content-center.align-items-center
                            .advantages__pic
                                img(src=`/img/${val[1]}` alt="" title="")
                            .advantages__desc(class=`${val[0]}`) #{val[2]}