section.single-news
    .container
        .single-news__slider
            .slider
                .slider__controller.slider__controller_left(id="slider-controller-left")
                .slider__controller.slider__controller_right(id="slider-controller-right")
                .slider__viewport
                    .slider__list.d-flex
                        .slider__item
                            .single-news__pic(style="background-image: url(/img/single-news.jpg)")
                            .single-news__content
                                p Бетон повсеместно используется в строительстве многоэтажных зданий, промышленных сооружений, коттеджей, из этого материала возводят фундаменты, стены, перекрытия, строят промышленные объекты. Но в качестве отделочного материала его стали использовать совсем недавно. Дизайнеры обратили внимание на бетон, когда в моду вошли индустриальный стиль, а также минимализм и лофт.
                                h3 История и сфера применения
                                p Бетон повсеместно используется в строительстве многоэтажных зданий, промышленных сооружений, коттеджей, из этого материала возводят фундаменты, стены, перекрытия, строят промышленные объекты. Но в качестве отделочного материала его стали использовать совсем недавно. Дизайнеры обратили внимание на бетон, когда в моду вошли индустриальный стиль, а также минимализм и лофт.
                                h3 Советы дизайнера
                                p
                                    | Бетонные стены очищают, моют и покрывают пропиткой, чтобы не осыпались пылевые частицы.
                                    br
                                    | Неровности бетонной стены не сглаживают, мелкие дефекты не портят покрытие (их, наоборот, сохраняют).
                                    br
                                    | Интерьер не должен состоять из одних только бетонных поверхностей.
                                    br
                                    | Бетон не рекомендуется использовать в дизайне детской комнаты.