.container
    .row
        .footer__contacts.col-xl-3
            .span.company АО «ЕВРОБЕТОН»
            p
                | 123308, Россия, г. Москва, 3-й
                | Силикатный проезд, д. 10, стр. 1
                | Телефоны:
                a(href="tel:84957953018") +7 (495) 795-30-18,
                br
                | Email:
                a(href="mailto:eurobeton@eurocem.ru") eurobeton@eurocem.ru

        .footer__nav.col-xl-6.d-flex.justify-content-center
            .ul.footer__nav__list
                li.footer__nav__item.mb-4
                    a(href="").nav__link.bold Продукция
                li.footer__nav__item
                    a(href="").nav__link Бетон
                li.footer__nav__item
                    a(href="").nav__link Щебень
                li.footer__nav__item
                    a(href="").nav__link Минеральный порошок

            .ul.footer__nav__list
                li.footer__nav__item.mb-4
                    a(href="").nav__link.bold Произвоство
                li.footer__nav__item
                    a(href="").nav__link Лаборатория
                li.footer__nav__item
                    a(href="").nav__link Сертификаты
                li.footer__nav__item
                    a(href="").nav__link Дилерам

            .ul.footer__nav__list
                li.footer__nav__item
                    a(href="").nav__link.bold Доставка
                li.footer__nav__item
                    a(href="").nav__link.bold Тендеры
                li.footer__nav__item
                    a(href="").nav__link.bold Новости
                li.footer__nav__item
                    a(href="").nav__link.bold Вакансии

        .footer__copy.col-xl-3.d-flex.flex-column.align-items-end
            p
                span.copy
                    | © 2000–2020, «Евробетон».
                    br
                    | Все права защищены
                br
                a(href="").policy Политика конфиденциальности
            a(href="").creator
                | Задизайнено студией
                span MyWeb