.pump-rental
    .container
        .row
            .col-xl-6.image__wrap
                .image(style="background-image: url(/img/pump.jpg)")

            .col-xl-6.specifications__wrap
                .specifications
                    h5.specifications__title Характеристики:

                    ul.specifications__list
                        li.specifications__item.d-flex.justify-content-between
                            span.specifications__parametr Длина подачи
                            span.specifications__value до 61 (м)

                        li.specifications__item.d-flex.justify-content-between
                            span.specifications__parametr Производительность
                            span.specifications__value до 60 м³/ч

                        li.specifications__item.d-flex.justify-content-between
                            span.specifications__parametr Размеры площадки
                            span.specifications__value максимальный 2,6 X 5,2 м

                        li.specifications__item.d-flex.justify-content-between
                            span.specifications__parametr Макс. дальность подачи
                            span.specifications__value до 13 м

                        li.specifications__item.d-flex.justify-content-between
                            span.specifications__parametr Время рабочей смены
                            span.specifications__value 7+1* час

                .note.d-flex.justify-content-end
                    a.link(href="/") Примечание

            .col-xl-6.description__wrap
                .description
                    .description__content
                        p Производственная компания «Евробетон» предлагает самые выгодные цены на аренду малогабаритного бетононасоса в Москве. Обладаем собственным парком малогабаритных автобетононасосов, а также сотрудничаем с собственниками бетононасосов по договору аренды. Наша техника всегда находится в исправном техническом состоянии, обслужена и готова без остановки прокачать большой объем бетона. Мы знаем, как важно, чтобы техника не подвела в момент подачи бетона, ведь любой сбой может привести к нарушению технологии подачи бетона, а следовательно к полному демонтажу конструкции.

                    .description__toggler Развернуть

            .col-xl-6.actions__wrap
                .actions
                    .d-flex.justify-content-center.justify-content-xl-between.align-items-center.flex-wrap.flex-column.flex-sm-row
                        .actions__price Стоимость:
                            span.cost от 16000 руб

                        .comment за 1 раб. смену  в т.ч. НДС 20%

                    .actions__btns.d-flex.flex-column.align-items-center.flex-xl-row.align-items-xl-start
                        .actions__txt
                            a.btn(href="") выбрать и узнать стоимость
                            .actions__comment Ваш заказ будет доставлен прямо на вашу строительную площадку в любое удобное время.
                        a.btn.btn_call(href="")
                            img(src="/img/phone.png" alt="" title="")
