.faq.section_container
    .container
        .faq__title.section_title Вопрос — ответ

    .container
         ul.faq__list.d-flex.flex-column
             li.faq__item.d-flex.flex-column
                .faq__caption.d-flex.align-items-center
                    .faq__btn
                    | Что такое бетон?
                .faq__description Бетон — это строительный материал, который получают из смеси вяжущего вещества, уплотнителей и воды. Материал обладает рядом эксплуатационных качеств: прочность, долговечность, надёжность и устойчивость к механическим и природным воздействиям. Первые упоминания о бетоне можно найти в Месопотамии, активно он использовался и в Древнем Риме. Современный материал выполняется с использованием специальных добавок, которые позволяют существенно улучшить эксплуатационные характеристики.

             li.faq__item.d-flex.flex-column
                .faq__caption.d-flex.align-items-center
                    .faq__btn
                    | Чем отличается бетон от бетонного раствора?
                .faq__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, aperiam enim esse ex inventore laborum laudantium libero magni nisi possimus quas, quasi quibusdam ratione reiciendis, sequi tempore voluptas voluptatem.

             li.faq__item.d-flex.flex-column
                .faq__caption.d-flex.align-items-center
                    .faq__btn
                    | Какой минимальный заказ бетона?
                .faq__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, aperiam enim esse ex inventore laborum laudantium libero magni nisi possimus quas, quasi quibusdam ratione reiciendis, sequi tempore voluptas voluptatem.

             li.faq__item.d-flex.flex-column
                .faq__caption.d-flex.align-items-center
                    .faq__btn
                    |Как осуществляется доставка и оплата?
                .faq__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, aperiam enim esse ex inventore laborum laudantium libero magni nisi possimus quas, quasi quibusdam ratione reiciendis, sequi tempore voluptas voluptatem.

             li.faq__item.d-flex.flex-column
                .faq__caption.d-flex.align-items-center
                    .faq__btn
                    | Что такое бетоносмесители и бетононасосы?
                .faq__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, aperiam enim esse ex inventore laborum laudantium libero magni nisi possimus quas, quasi quibusdam ratione reiciendis, sequi tempore voluptas voluptatem.

             li.faq__item.d-flex.flex-column
                .faq__caption.d-flex.align-items-center
                    .faq__btn
                    | Каким образом осуществляется покупка бетона (юр. лицами и частными лицами)?
                .faq__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, aperiam enim esse ex inventore laborum laudantium libero magni nisi possimus quas, quasi quibusdam ratione reiciendis, sequi tempore voluptas voluptatem.

             li.faq__item.d-flex.flex-column
                .faq__caption.d-flex.align-items-center
                    .faq__btn
                    | Сколько времени нужно для отвердения бетона?
                .faq__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, aperiam enim esse ex inventore laborum laudantium libero magni nisi possimus quas, quasi quibusdam ratione reiciendis, sequi tempore voluptas voluptatem.

             li.faq__item.d-flex.flex-column
                .faq__caption.d-flex.align-items-center
                    .faq__btn
                    | Что такое щебень?
                .faq__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, aperiam enim esse ex inventore laborum laudantium libero magni nisi possimus quas, quasi quibusdam ratione reiciendis, sequi tempore voluptas voluptatem.

             li.faq__item.d-flex.flex-column
                .faq__caption.d-flex.align-items-center
                    .faq__btn
                    | Основные свойства щебня
                .faq__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, aperiam enim esse ex inventore laborum laudantium libero magni nisi possimus quas, quasi quibusdam ratione reiciendis, sequi tempore voluptas voluptatem.