include ../../mixins/sml-img-slider/_sml-img-slider

.concrete
    section
        .container
            .row.concrete__content
                .col-xl-7
                    .concrete__title #[span РБУ Новокосино] (ул. Салтыковская, д. 4)
                    .concrete__description
                        p Все растворобетонные узлы оснащены бетоносмесительными установками мощностью от 60 до 120 куб.м. бетона в час и сертифицированными лабораториями качества производства немецких фирм SCHWING-Stetter и Liebherr.
                        p
                            b Лаборатории осуществляют разработку рецептур готовых смесей и контроль качества продукции.
                        p Наличие современной базы специальной техники:бетоносмесителей Liebherr и бетононасосов Putzmeister на базе автомобилей Mersedes-Benz обеспечивают современную поставку готовой продукции.

                .col-xl-5.order-1
                    .right-side.concrete__pic.d-flex.flex-column.align-items-center.align-items-xl-end
                        +sml-img-slider(["fancy-galary-1", "pic2.jpg", "conc-2.jpg"],["fancy-galary-1", "pic1.jpg", "conc-1.jpg"])
                        a.link.concrete__link(href="/") Показать на карте



    section
        .container
            .row.concrete__content
                .col-xl-5.order-1
                    .left-side.concrete__pic.d-flex.flex-column.align-items-center.align-items-xl-start
                        +sml-img-slider(["fancy-galary-2", "pic1.jpg", "conc-3.jpg"],["fancy-galary-2", "pic2.jpg", "lab2.jpg"])
                        a.link.concrete__link(href="/") Показать на карте

                .col-xl-7.order-xl-2
                    .concrete__title #[span ОАО «Спецстройбетон ЖБИ №17»] (3-й силикатный проезд, д.10)
                    .concrete__description
                        p Производство высокомарочных бетонных смесей на ЖБИ-17 осуществляется на трех современных компьютеризированных бетонных узлах общей производительностью до 2700 куб.м. в сутки.
                        p.
                            Бетоносмесительные узлы оснащены оборудованием финских фирм PCE Engineering,Cobra и немецких фирм SCHWING-Stetter, TECA.
                            #[b Организована доставка товарных бетонных смесей на объекты автобетоносмесителями в круглосуточном режиме, без выходных.]
                        p В рецептуре товарных бетонов применяются добавки различного спектра действия.


    section
        .container
            .row.concrete__content
                .col-xl-7
                    .concrete__title #[span ОАО «Асфальтобетон - Медведково»]
                    .concrete__description
                        p Новый завод, оборудованный немецкой фирмой Stetter в Медведково мощностью 120 куб.м./час производит бетон и раствор марок от М100 до М800 на гранитном и гравийном щебне, причем одновременно возможно производство 2-ух марок товарного бетона, что позволяет заливать плиты на 2-х строительных объектах одновременно в любое время суток.
                        p Благодаря удобному размещению заводов по радиусу Москвы, мы можем поставлять бетон на строительные объекты в любую точку Москвы и ближнего подмосковья, а также осуществлять крупные заливки одновременно с нескольких заводов.

                .col-xl-5.order-1
                    .right-side.concrete__pic.d-flex.flex-column.align-items-center.align-items-xl-end
                        +sml-img-slider(["fancy-galary-3", "pic1.jpg", "conc-4.jpg"],["fancy-galary-3", "pic2.jpg", "conc-5.jpg"])
                        a.link.concrete__link(href="/") Показать на карте



    section
        .container
            .row.concrete__content
                .col-xl-5.order-1
                    .left-side.concrete__pic.d-flex.flex-column.align-items-center.align-items-xl-start
                        +sml-img-slider(["fancy-galary-4", "pic1.jpg", "conc-1.jpg"],["fancy-galary-4", "pic2.jpg", "lab2.jpg"])
                        a.link.concrete__link(href="/") Показать на карте

                .col-xl-7.order-xl-2
                    .concrete__title #[span ООО «Гранитстрой» — Лобня (Краснополянский проезд, д. 5.)]
                    .concrete__description
                        p Бетонный завод, успешно реализующий свою продукцию на территории северной, северо-западной части Московской области (Лобня, Дмитров, Долгопрудный, Химки, Сходня, Зеленоград, Шереметьево-1 (ВПП) и другие районы).
                        p В сентябре 2009 года ООО «Гранитстрой» ввел в эксплуатацию бетонный завод марки «SIMEМ» (производство Италия). Завод имеет в своем составе две раздельные технологические линии с бетоносмесителями МСО 300 с производительностью за один цикл — до 2 м3 бетона каждая.


    section
        .container
            .row.concrete__content
                .col-xl-7
                    .concrete__title #[span Белгородский филиал АО «ЕВРОБЕТОН» (ул.Сумская, д.66)]
                    .concrete__description
                        p Является одним из крупнейших производителей бетона в г.Белгороде (1/3 рынка) и специализируется на выпуске высококачественных растворных и бетонных смесей.
                        p Производство осуществляется на новейшем оборудовании немецкой фирмы Stetter, мощность которого составляет 120 куб.м./час, а так же исключает возможность нарушения рецептуры при изготовлении смесей.
                        p Высокое качество инертных материалов. Песок и щебень проходят входной контроль на соответствие требованиям ГОСТ. Весь бетон и раствор изготавливается на цементе ЦЕМ I 42,5H производства ЗАО «Белгородский цемент».

                .col-xl-5.order-1
                    .right-side.concrete__pic.d-flex.flex-column.align-items-center.align-items-xl-end
                        +sml-img-slider(["fancy-galary-5", "pic1.jpg", "conc-6.jpg"],["fancy-galary-5", "pic2.jpg", "conc-7.jpg"])
                        a.link.concrete__link(href="/") Показать на карте
