@import "../../../scss/variables";

.sml-img-slider {
  &__list {
    width: 300px;
    height: 208px;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    @media (min-width: $sm) {
      width: 391px;
      height: 270px;
    }
  }

  &__item {
    //width: 348px;
    //height: 232px;
    width: 89%;
    height: 86%;
    position: absolute;
    top: 38px;
    cursor: pointer;
    transition: $fnc-line;
    z-index: 0;

    &.front {
      top: 0;
      z-index: 10;

      a {
        box-shadow: inset 0 0 0 0 rgba(255,255,255,0);
      }
    }

    &.back {
      z-index: 5;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

    &__card {
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-position: center;
      background-size: cover;
      box-shadow: inset 0 0 0 150px rgba(255,255,255,0.65);
      transition: box-shadow .7s;
    }
}

.right-side {
  .sml-img-slider {
    &__item {
      left:44px;

      &.front {
        left: 0;
      }
    }
  }
}

.left-side {
  .sml-img-slider {
    &__item {
      left: 0;

      &.front {
        left: 44px;
      }
    }
  }
}