.company
    .container
        .row
            .col-xl-7
                p #[b АО «ЕВРОБЕТОН»] - это промышленная компания по производству и продаже бетона и ЖБИ, нерудных материалов, входящая в Холдинг «ЕВРОЦЕМЕНТ груп». Совокупная мощность которой составляет 10 млн. кубометров в год.
                p #[b 11 современных заводов. 5 производственных] баз находится на территории города Москвы, по одной в Белгороде, Старом Осколе, Липецке, Екатеринбурге, Кстово (Нижегородская область) и Фокино (Брянская обл.).
                p #[b Основные направления деятельности:] производство товарного бетона, производство различного вида железобетонных изделий и конструкций, добыча и производство щебня, производство минерального порошка.

            .col-xl-4.offset-xl-1.company__pic-wrap
                .company__director-pic
                    a(href="/")
                        img(src="/img/director.jpg" alt="Генеральный директор - Гочелашвили Муртаз Александрович" title="Генеральный директор - Гочелашвили Муртаз Александрович")
                .company__director-link.
                    #[a.link(href="/") Генеральный директор]
                    #[span Гочелашвили Муртаз Александрович]

            .col-12
                p #[b При производстве используются] бетоносмесительные установки «Stetter», «PCE Engeneering», «Cobra», «Teca» и «Schwing-Stetter», а также «Liebherr». Выдаваемые мощности позволяют удовлетворить потребности любого заказчика.

            .col-12
                blockquote.blockquote
                    p Внимание к клиенту, соблюдение достигнутых договоренностей по сервису, внедрение современных технологий — основные причины успеха нашей компании

            .col-12
                p Основу компании «ЕВРОБЕТОН» составляет команда высококвалифицированных профессионалов, которые знают о бетоне всё. Именно их знания и умения обеспечивают возможность предоставления клиентам качественного продукта по приемлемой цене. При этом доставка необходимых смесей осуществляется силами нашей компании, что обеспечивает дополнительный комфорт для клиентов. #[b В наличие бетононасосы и бетоносмесители], выполненные на базе автомобилей Mersedes-Benz.
                p #[b Наличие собственной лаборатории] позволяет регулярно расширять доступный ассортимент предлагаемых смесей. На сегодняшний день используется ряд уникальных технологий, которые гарантируют надёжность и долговечность выпускаемых решений.
                p Все стадии изготовления бетона проходят на материальной базе АО «ЕВРОБЕТОН». Благодаря постоянному контролю качества продукции на всех этапах производства, клиенты получают действительно высококлассный продукт.
