section.interesting-product.section_container
    .container
        .interesting-product__title.section_title ВАС ТАКЖЕ МОЖЕТ ЗАИНТЕРЕСОВАТЬ

    .container
        .interesting-product__body.d-flex.flex-column.align-items-center.flex-lg-row
            .interesting-product__pic
                img(src="/img/mineral.jpg" alt="" title="")

            .interesting-product__content
                .interesting-product__caption Известняковая мука

                .interesting-product__txt.d-flex.justify-content-center.justify-content-lg-start
                    ul.list
                        li
                            .interesting-product__txt-title Применяется:
                        li.list-item При производстве комбикормов
                        li.list-item В качестве раскислителя почв

                .interesting-product__btn.d-flex.justify-content-center.justify-content-lg-start
                    a.btn(href="") ПОДРОБНЕЕ
