//- Include used template for this page
extends ../../templates/template

//- Including mixins
include ../../mixins/bread-crumbs/_bread-crumbs
include ../../mixins/page-title/_page-title
include ../../mixins/request/_requset



//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Контакты'
    - let description = ''
    - let keywords    = ''
    - let pageClass   = 'page-contacts'

block content
    +bread-crumbs("Главная", "Контакты")

    +page-title("Контакты")

    .contacts
        .container
            .row.justify-content-center
                .col-xl-5.contacts__description-wrap
                    .contacts__description
                        h4.contacts__title Головной офис в Москве

                        p.contacts__addres.
                            #[b Почтовый адрес: ]
                            123308, Россия, г. Москва, Силикатный проезд, д. 10, стр. 15

                        p.contacts__mail.
                            #[b Электронная почта: ]
                            #[a(class="link" href="mailto:eurobeton@eurocem.ru" ) eurobeton@eurocem.ru]

                        p.contacts__sales
                            b Отдел продаж Московского региона
                            span (495) 795-30-18
                            span (495) 536-00-16

                        p.contacts__support
                            b Центральная диспетчерская
                            span (495) 795-30-25
                            span +7 (903) 629-47-74

                        a.btn.contacts__btn(href="/") Реквизиты АО «ЕВРОБЕТОН»

                .col-xl-5.contacts__map-wrap
                    .contacts__map#map

    +request(
        '',
        'request-men',
        'request-men.png',
        'ПОЛУЧИТЬ РАСЧЕТ СТОИМОСТИ',
        'Наш менеджер поможет Вам с выбором и рассчитает цену бетона с доставкой',
        'оставить заявку'
    )


    include ../../mixins/faq/_faq