section.advantages
    .container
        .row
            .col-xl-3
                .advantages__card.d-flex.flex-column.justify-content-center.align-items-center
                    .advantages__pic
                        img(src="/img/advantages-1.png" alt="" title="")
                    .advantages__desc Собственная сырьевая база

            .col-xl-3
                .advantages__card.d-flex.flex-column.justify-content-center.align-items-center
                    .advantages__pic
                        img(src="/img/advantages-2.png" alt="" title="")
                    .advantages__desc Высококачественное сырье

            .col-xl-3
                .advantages__card.d-flex.flex-column.justify-content-center.align-items-center
                    .advantages__pic
                        img(src="/img/advantages-3.png" alt="" title="")
                    .advantages__desc.pl-1.pr-1 Собственная испытательная лаборатория

            .col-xl-3
                .advantages__card.d-flex.flex-column.justify-content-center.align-items-center
                    .advantages__pic
                        img(src="/img/advantages-4.png" alt="" title="")
                    .advantages__desc Тотальный контроль производства