section.billboard.section_container
    .container
        .row
            .billboard__desc.col-lg-7.col-xl-6
                .billboard__title В основе любой стройки качественный материал!
                .billboard__txt Качественный строительный бетон по выгодным ценам от производителя!
                .billboard__btn
                    a.btn(href="") консультация

            .billboard__pic.col-lg-5.col-xl-6
                img(src="/img/billboard-back.png" alt="" title="")