section.news-list
    .container
        .row
            .col-sm-12
                .news-list__title
                    a(href="") Все новости
            .col-xl-3
                a(href="").news-list__card
                    .news-list__pic(style="background-image: url(\"/img/news1.jpg\");")
                    .news-list__desc
                        .news-list__date 05 Сентября 2019
                        .news-list__caption Противоморозные добавки в бетон
            .col-xl-3
                a(href="").news-list__card
                    .news-list__pic(style="background-image: url(\"/img/news2.jpg\");")
                    .news-list__desc
                        .news-list__date 30 Августа 2019
                        .news-list__caption Цементное молочко
            .col-xl-3
                a(href="").news-list__card
                    .news-list__pic(style="background-image: url(\"/img/news3.jpg\");")
                    .news-list__desc
                        .news-list__date 02 Августа 2019
                        .news-list__caption Бетон в дизайне
            .col-xl-3
                a(href="").news-list__card
                    .news-list__pic(style="background-image: url(\"/img/news4.jpg\");")
                    .news-list__desc
                        .news-list__date 17 Июня  2019
                        .news-list__caption Фундаменты и их виды
