section.offers
    .container
        .row
            .offers__card.col-xl-6
                a(href="").offers__card-body
                    .offers__caption АРЕНДА
                    .offers__title Аренда спецтехники
                    .offers__txt Аренда бетононасосов и кранов в Москве и Московской области
                    .offers__pic
                        img(src="/img/offers-1.png" alt="" title="")

            .offers__card.col-xl-6
                a(href="").offers__card-body
                    .offers__caption РАСЧЕТ ДОСТАВКИ БЕТОНА ОНЛАЙН
                    .offers__title Купить бетон с доставкой
                    .offers__txt Купить бетон с доставкой по Москве и области
                    .offers__pic
                        img(src="/img/offers-2.png" alt="" title="")

            .offers__card.col-xl-6
                a(href="").offers__card-body
                    .offers__caption СОБСТВЕННАЯ ЛАБОРАТОРИЯ
                    .offers__title Выпуск бетона в соответствии с ГОСТ
                    .offers__txt Наша лаборатория предоставляет широкий спектр лабораторного сопровождения объектов
                    .offers__pic
                        img(src="/img/offers-3.png" alt="" title="")

            .offers__card.col-xl-6
                a(href="").offers__card-body
                    .offers__caption тендеры
                    .offers__title Тендеры на поставку
                    .offers__txt АО «ЕВРОБЕТОН» объявляет конкурс на поставку в 1 квартале 2018 г.
                    .offers__pic
                        img(src="/img/offers-4.png" alt="" title="")