section.promo.section_container
    .container
        .row.d-flex
            .promo__cards.col-xl-4
                a(href="/").promo__card.d-flex.flex-column.justify-content-center
                    img(src="/img/certificate.png").promo__card__pic
                    .promo__card__desc Свидетельства и сертификаты качества
                a(href="/").promo__card.d-flex.flex-column.justify-content-center
                    img(src="/img/contract.png").promo__card__pic
                    .promo__card__desc Договор поставки
            .promo__banner.col-xl-8
                .promo__banner__body
                    .promo__banner__title Сеть бетонных заводов 10 лет на рынке Москвы и МО
                    .promo__banner__list.d-flex
                        .promo__banner__wrap.d-flex.flex-column
                            a(href="").promo__banner__item 7 современных заводов
                            a(href="").promo__banner__item 5 производственных баз
                        .promo__banner__wrap.d-flex.flex-column
                            a(href="").promo__banner__item 10 млн. кубометров в год. совокупная мощность
                            a(href="").promo__banner__item Собственная лаборатория
                    .promo__banner__btn
                        a(href="").btn консультация с менеджером