section.request.section_container
    .container
        .row
            .request__pic.col-lg-4
                img(src="/img/request-men.png")

            .request__desc.col-lg-8
                .request__title ПОЛУЧИТЬ РАСЧЕТ СТОИМОСТИ
                .request__content Наш менеджер поможет Вам с выбором и рассчитает цену бетона с доставкой
                .request__btn
                    a.btn(href="") оставить заявку
