//- Include used template for this page
extends ../../templates/template

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Главная / EuroBetonApp'
    - let description = 'Write description for the page here'
    - let keywords    = 'Write keywords for the page here'
    - let pageClass   = 'page-index'

block content