//- Include used template for this page
extends ../../templates/template

//- Include used mixins for this page
include ../../mixins/news-list/_news-list
include ../../mixins/request/_requset
include ../../mixins/promo/_promo

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Главная'
    - let description = ''
    - let keywords    = ''
    - let pageClass   = 'page-index'

block content
    include billbord/_billboard
    include offers/_offers
    include calculator/_calculator
    include prices/_prices
    include ../../mixins/advantages/_advantages
    include map/_map
    include ../../mixins/partners/_partners

    +request('request-men', 'request-men.png', 'ПОЛУЧИТЬ РАСЧЕТ СТОИМОСТИ', 'Наш менеджер поможет Вам с выбором и рассчитает цену бетона с доставкой', 'оставить заявку')

    +promo

    .container
        .all-news
            a(href="") Все новости

    +news-list(
       ['news1.jpg', '05 Сентября 2019', 'Противоморозные добавки в бетон'],
       ['news2.jpg', '30 Августа 2019', 'Цементное молочко'],
       ['news3.jpg', '02 Августа 2019', 'Бетон в дизайне',],
       ['news4.jpg', '17 Июня  2019', 'Фундаменты и их виды'])