//- Include used template for this page
extends ../../templates/template

//- Including mixins
include ../../mixins/news-list/_news-list
include ../../mixins/page-title/_page-title
include ../../mixins/bread-crumbs/_bread-crumbs
include ../../mixins/request/_requset
include ../../mixins/get-more/get-more

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Новости'
    - let description = ''
    - let keywords    = ''
    - let pageClass   = 'page-news'

block content
    +bread-crumbs("О компании", "Новости")

    +page-title("Новости")

    +news-list(
        ['news1.jpg', '05 Сентября 2019', 'Противоморозные добавки в бетон'],
        ['news2.jpg', '30 Августа 2019', 'Цементное молочко'],
        ['news3.jpg', '02 Августа 2019', 'Бетон в дизайне'],
        ['news4.jpg', '17 Июня  2019', 'Фундаменты и их виды'],

        ['news4.jpg', '17 Июня  2019', 'Фундаменты и их виды'],
        ['news2.jpg', '30 Августа 2019', 'Цементное молочко'],
        ['news1.jpg', '05 Сентября 2019', 'Противоморозные добавки в бетон'],
        ['news3.jpg', '02 Августа 2019', 'Бетон в дизайне'],

        ['news3.jpg', '02 Августа 2019', 'Бетон в дизайне'],
        ['news1.jpg', '05 Сентября 2019', 'Противоморозные добавки в бетон'],
        ['news2.jpg', '30 Августа 2019', 'Цементное молочко']
    )

    +get-more("page-news", "Загрузить ещё новости")

    +request('', 'request-car', 'request-car.png', 'КУПИТЬ БЕТОН С ДОСТАВКОЙ', 'Наш калькулятор позволит Вам рассчитать точную стоимость бетона с учётом вашего местонахождения.', 'РАССЧИТАТЬ')

    include faq/_faq