.mineral-powder
    .container
        .row
            .col-xl-6.image__wrap
                .image(style="background-image: url(/img/mineral-powder.jpg)")

            .col-xl-6.specifications__wrap
                .specifications
                    h5.specifications__title Минеральный порошок применяется при производстве:

                    ul.list
                        li.list-item Асфальтобетонных и органоминеральных смесей
                        li.list-item Сухих строительных смесей
                        li.list-item Кровельных материалов

            .col-xl-6.description__wrap
                .description
                    .description__content
                        p #[b Холдинг «Евробетон»] - крупнейший российский производитель порошка минерального, муки известняковой. В его состав входит АО «Песковский комбинат строительных материалов», предприятие полного производственного цикла: от добычи сырья до реализации продукции.
                        p Годовая мощность комбината составляет 509 тысяч тонн экологически чистого продукта: порошка минерального тонкого измельчения известняковых пород, с уникальными физико-механическими и физико-химическими характеристиками, в том числе отличными адсорбирующими свойствами, и муки известняковой с высоким содержанием кальция.ммм

                    .description__toggler Развернуть

            .col-xl-6.actions__wrap
                .actions
                    .actions__price.
                        Стоимость:
                        #[span 850 руб.]

                    .actions__btns.d-flex.flex-column.align-items-center.flex-xl-row.align-items-xl-start
                        .actions__txt
                            a.btn(href="") РАССЧИТАТЬ ПОЛНУЮ СТОИМОСТЬ
                            .actions__comment
                                .footnote Без транспортных услуг
                        a.btn.btn_call(href="")
                            img(src="/img/phone.png" alt="" title="")

                    .actions__offer.d-flex.flex-column.align-items-center.flex-xl-row.justify-content-between
                        span #[b Нужно свыше 300 тонн?] Тогда нажимай!
                        a.btn(href="") Персональное предложение
