//- Include used template for this page
extends ../../templates/template

//- Including mixins
include ../../mixins/bread-crumbs/_bread-crumbs
include ../../mixins/page-title/_page-title
include ../../mixins/request/_requset
include ../../mixins/promo/_promo

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Щебень от производителя'
    - let description = ''
    - let keywords    = ''
    - let pageClass   = 'page-breakstone'

block content
    +bread-crumbs("Главная", "Производство", "Щебень от производителя")

    +page-title("Щебень от производителя")

    include _breakstone

    +request(
      'modalSetOrder',
      'request-men',
      'request-men.png',
      'ПОЛУЧИТЬ РАСЧЕТ СТОИМОСТИ',
      'Наш менеджер поможет Вам с выбором и рассчитает цену бетона с доставкой',
      'оставить заявку'
    )

    +promo
