@import "../../../scss/variables";

.get-more {
  margin-bottom: 57px;

  &__link {
    font-weight: 500;
    line-height: 30px;
    color: $clr-font;
    position: relative;
    transition: $fnc-line;

    &:hover {
      color: $clr-accent;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $clr-accent;
      left: 0;
      top: 23px;
    }
  }
}