//- Include used template for this page
extends ../../templates/template

//- Including mixins
include ../../mixins/bread-crumbs/_bread-crumbs
include ../../mixins/page-title/_page-title


//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Каталог'
    - let description = ''
    - let keywords    = ''
    - let pageClass   = 'page-director'

block content
    +bread-crumbs("Главная", "Компания", "Директор")

    +page-title("Генеральный директор")

    .director
        .container
            img(src="/img/director.jpg" alt="" title="")

            .director__title БИОГРАФИЯ

            p.
                #[b Гочелашвили Муртаз Александрович] родился 22 июня 1973 года, окончил Санкт-Петербургский государственный горный университет имени Плеханова (горный инженер). Получил степень МВА в Российской академии госслужбы при Президенте РФ (Антикризисное управление) и диплом бизнес-управления в Германской академии менеджмента в Нижней Саксонии (DMAN) по направлению «Стратегический и проектный менеджмент» (направление «Глобальные финансы, инвестиции и логистика»)
            p.
                #[b С 1999 по 2012 - владелец строительной компании «Монтаж-север»] (промышленное строительство в сфере угледобычи, линейных объектов ТЭК, глинозёмного производства).
            p.
                #[b С 2003 по 2012 год - совладелец компании «Геоинформ»] (анализ данных дистанционного зондирования, разработка геоинформационных систем, кадастровые и инженерно-изыскательские работы).
            p.
                #[b С 2009 года по настоящее время - управляющий партнёр группы компаний «Основа»] (проектно-изыскательские работы в сфере недропользования, геодезия, обеспечение нерудными полезными ископаемыми, логистика).
            p.
                #[b С 2018 года по настоящее время - совладелец ООО «Угольная компания «Анжерская Южная»] (добыча коксующихся углей).
            p.
                #[b С 2019 года - соучредитель ООО «МИП-Технологии»], ведущего российского производителя магнитно-резонансных томографов (МРТ) на постоянном магните напряжением поля до 0,5 Тл, единственным российским производителем МРТ со сверхпроводящим магнитом 1,5 Тл. Компания - резидент Особой экономической зоны «Дубна».
            p.
                #[b С 2019 года член экспертного совета министерства промышленности и торговли Российской Федерации.]
            p.
                #[b С июня 2020 года по настоящее время - генеральный директор АО «ЕВРОБЕТОН», ООО «ЕВРОБЕТОН», АО «СПЕЦСТРОЙБЕТОН-ЖБИ №17», АО «АСФАЛЬТОБЕТОН-МЕДВЕДКОВО».]
            p.
                #[b Занимается меценатством] и активно поддерживает Ассоциацию по реализации социально-значимых программ в сфере семьи, материнства и детства «МНОГО НАС», а также Благотворительный фонд помощи людям с диагнозом «нейробластома» и членам их семей «Энби».