//- Include used template for this page
extends ../../templates/template

//- Including mixins
include ../../mixins/bread-crumbs/_bread-crumbs
include ../../mixins/page-title/_page-title
include ../../mixins/promo/_promo
include ../../mixins/request/_requset
include ../../mixins/news-list/_news-list
include ../../mixins/advantages/_advantages


//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Тендеры'
    - let description = ''
    - let keywords    = ''
    - let pageClass   = 'page-tenders'

block content
    .tenders

        +bread-crumbs("Главная", "Тендеры")

        +page-title("Тендеры")

        include table/table

        +advantages(
          ["", "advantages-5.png", "Непрерывный процесс производства"],
          ["px-5", "advantages-6.png", "Широчайший ассортимент"],
          ["px-5", "advantages-7.png", "Высокий уровень сервиса"],
          ["px-5", "advantages-8.png", "Вся продукция сертифицирована"])

        +request('request-car', 'request-car.png', 'КУПИТЬ БЕТОН С ДОСТАВКОЙ', 'Наш калькулятор позволит Вам рассчитать точную стоимость бетона с учётом вашего местонахождения.', 'РАССЧИТАТЬ')

        +promo

        .container
            .all-news
                a(href="") Все новости

        +news-list(
          ['news1.jpg', '05 Сентября 2019', 'Противоморозные добавки в бетон'],
          ['news2.jpg', '30 Августа 2019', 'Цементное молочко'],
          ['news3.jpg', '02 Августа 2019', 'Бетон в дизайне',],
          ['news4.jpg', '17 Июня  2019', 'Фундаменты и их виды'])