@import "variables";

.footer {
  background-color: #434245;
  color: $clr-light;
  line-height: 28px;
  padding-top: 50px;
  padding-left: 5px;

  @media (min-width: $md) {
    padding: 70px 0 0;
  }

  &__contacts {
    order: 2;

    @media (min-width: $lg) {
      margin-top: 20px;
    }

    @media (min-width: $xl) {
      order: 1;
      margin-top: 0;
    }

    a {
      font-weight: 700;
      color: $clr-light;
      margin-left: 7px;
    }

    p {
      @media (min-width: $lg) {
        line-height: 30px;
      }
    }
  }

  &__nav {
    order: 1;

    @media (min-width: $xl) {
      order: 2;
      padding: 0 60px;
    }

    &__list {
      margin: 0 40px;

      &:last-child {
        margin-right: 0;
      }

      &.section1 {
        width: 50%;
        margin: 0;
        display: inline-block;

        @media (min-width: $lg) {
          width: 110px;
        }
      }

      &.section2 {
        width: 50%;
        margin: 0;
        display: inline-block;

        @media (min-width: $md) {
          padding-left: 15px;
        }

        @media (min-width: $lg) {
          width: auto;
          padding-left: 0;
        }
      }

      &.section3 {
        width: 100%;
        margin: 0;
        padding-top: 14px;
        padding-bottom: 11px;

        @media (min-width: $lg) {
          width: auto;
          padding: 0;
        }

        li {
          width: 50%;
          margin-bottom: 13px;

          @media (min-width: $md) {
            &:nth-child(2), &:nth-child(4) {
              padding-left: 15px;
            }
          }

          @media (min-width: $lg) {
            &:nth-child(2), &:nth-child(4) {
              padding-left: 0;
            }
          }
        }
      }


    }

    &__item {
      font-weight: 300;
      line-height: 22px;
      margin-bottom: 7px;

      a {
        color: $clr-light;
        padding-bottom: 1px;
        background-image: linear-gradient(transparent calc(100% - 1px), $clr-accent 1px);
        transition: $fnc-line;

        &:hover {
          color: $clr-accent;
        }

        &.bold {
          font-weight: 400;
        }
      }
    }
  }

  &__copy {
    order: 3;
    padding-bottom: 60px;
    position: initial;
    text-align: right;

    @media (min-width: $lg) {
      margin-top: 20px;
    }

    @media (min-width: $xl) {
      margin-top: 0;
    }

    p {
      margin-top: 0;
      margin-bottom: 10px;
      text-align: left;

      @media (min-width: $md) {
        margin-bottom: 12px;
      }

      @media (min-width: $lg) {
        text-align: right;
      }
    }

    .copy {
      font-weight: 300;
    }

    .policy {
      color: $clr-light;
      font-weight: 300;
      padding-bottom: 9px;
      display: inline-block;
      margin-top: 10px;
    }

    .creator {
      color: $clr-light;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 56px;
      background-color: #1b1b1b;
      margin-left: -20px;

      @media (min-width: $sm) {
        margin-left: 0;
        width: auto;
        background-color: transparent;
        margin-bottom: 20px;
      }

      @media (min-width: $md) {
        position: relative;
        margin: 0;
        height: auto;
      }

      span {
        color: $clr-accent;
        display: inline-block;
        padding-left: 5px;
      }
    }
  }
}