@import "variables";

.promo {
  &__cards {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $lg) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @media (min-width: $xl) {
      order: 1;
      display: block;
    }
  }

  &__card {
    width: 277px;
    height: 201px;
    border-radius: 15px;
    display: block;
    overflow: hidden;
    position: relative;

    @media (min-width: $md) {
      width: 359px;
    }

    &:first-child {
      margin-bottom: 24px;

      @media (min-width: $lg) {
        margin-bottom: 0;
      }

      @media (min-width: $xl) {
        margin-bottom: 24px;
      }
    }

    &::after, &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center;
    }

    &::before {
      background-image: url(/img/news-card-back.jpg);
      opacity: 0.4;
      z-index: 1;
    }

    &::after {
      box-shadow: inset 2px 1px 3px rgba(92, 92, 92, 0.25);
      border-radius: 15px;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 2;
      opacity: 0;
      transition: $fnc-line;
    }

    &:hover::after {
      opacity: 1;
    }

    &__pic {
      position: relative;
      z-index: 3;
    }

    &__desc {
      color: $clr-font;
      font-size: 15px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0.07px;
      text-align: center;
      padding: 0 40px;
      margin-top: 8px;

      @media (min-width: $lg) {
        padding: 0 70px;
      }
    }

  }

  &__banner {
    order: 1;
    margin-bottom: 34px;

    @media (min-width: $xl) {
      order: 2;
      margin-bottom: 0;
    }

    &__body {
      width: 100%;
      border-radius: 15px;
      border: 2px solid #eeeeee;
      background-color: #ffffff;
      padding-top: 25px;
      padding-left: 25px;
      padding-right: 14px;

      @media (min-width: $md) {
        height: 426px;
        padding-left: 40px;
        padding-top: 47px;
      }

      @media (min-width: $lg) {
        padding-left: 81px;
      }

      @media (min-width: $xl) {
        width: 752px;
      }
    }

    &__title {
      color: $clr-font;
      font-family: $fnt-secondary;
      font-weight: 900;
      padding-bottom: 9px;
      font-size: 26px;
      line-height: 40px;

      @media (min-width: $md) {
        font-size: 42px;
        line-height: 60px;
        padding-bottom: 18px;
      }

      @media (min-width: $xl) {
        padding-right: 50px;
      }
    }

    &__list {
      padding-left: 2px;
      flex-direction: column;

      @media (min-width: $md) {
        flex-direction: row;
      }
    }

    &__item {
      color: #727272;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      padding-left: 10px;
      position: relative;
      margin-bottom: 15px;

      @media (max-width: $md) {
        line-height: 36px;
        margin-bottom: 0;
      }


      &::before {
        content: "";
        display: inline-block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $clr-accent;
        position: absolute;
        left: 0;
        top: 18px;
        transform: translateY(-50%);

        @media (min-width: $md) {
          top: 50%;
        }
      }
    }

    &__wrap {
      &:first-child {
        padding-right: 55px;
      }
    }

    &__btn {
      margin: 23px 0 38px -14px;

      @media (min-width: $md) {
        margin: 37px 0 0 8px;
      }

      .btn {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;

        @media (min-width: $md) {
          width: auto;
          padding-left: 50px;
          padding-right: 50px;

        }
      }
    }
  }
}