@import "variables";

* {
    box-sizing: border-box;
}

//- Make sticky footer
html, body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.header,
.footer {
  flex: none;
}

.main {
  flex: 1 0 auto;
}

//- Custom template styles
body {
  font-family: $fnt-main;
  font-size: 15px;
  line-height: 1.3;
  font-style: normal;
  color: $clr-font ;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}