@import "../../../scss/variables";

.page-index,
.page-certificates,
.page-tenders,
.page-catalog,
.page-catalog-rubble {
  .news-list {
    margin-bottom: 23px;

    &__wrap {
      & > div:nth-last-child(1),
      & > div:nth-last-child(2) {
        display: none !important;

        @media (min-width: $md) {
          display: flex !important;
        }
      }
    }
  }
}

.news-list {

  &__card {
    height: 313px;
    width: 263px;
    padding-top: 19px;
    margin-bottom: 34px;

    &:hover {
      .news-list__desc::after {
        opacity: 1;
      }

      .news-list__date,
      .news-list__caption {
        color: $clr-light;
      }

    }
  }

  &__pic {
    height: 143px;
    width: 250px;
    position: relative;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    box-shadow: 0px -8px 0px 0px rgba(238,238,238,1),
                0px -17px 0px 0px rgba(246,246,246,1);
  }

  &__desc {
    width: 263px;
    height: 151px;
    position: relative;
    background-color: #eee;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center;
    }

    &::before {
      background-image: url("/img/news-card-back.jpg");
      opacity: 0.4;
      z-index: 1;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      &::before {
        display: none;
      }
    }

    &::after {
      background-color: #434245;
      z-index: 2;
      opacity: 0;
      transition: $fnc-line;
    }
  }

  &__date {
    color: $clr-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    position: relative;
    z-index: 3;
    padding-top: 14px;
    padding-bottom: 6px;
  }

  &__caption {
    color: $clr-font;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.07px;
    text-align: center;
    position: relative;
    z-index: 3;
    padding: 0 50px;
  }
}

.all-news {
  text-align: right;
  margin: 0 auto 11px;
  font-weight: 500;
  letter-spacing: 0.07px;
  width: 260px;

  @media (min-width: $md) {
    width: 620px;
  }
  @media (min-width: $lg) {
    width: 730px;
  }
  @media (min-width: $xl) {
    width: 100%;
  }
  a {
    color: $clr-font;
    transition: $fnc-line;
    right: 7px;
    position: relative;
    border-bottom: 1px solid $clr-accent;

    &:hover {
      color: $clr-accent;
    }
  }
}