.section.table
    .container
        table.table
            tbody.table__body
                tr.table__line.table__line_caption
                    th Информация о тендере
                    th
                        span.date-line Дата начала
                        | и окончания
                    th Место поставки
                    th Начальная цена
                    th

                tr.table__line
                    td.table__column
                        .table__cell-caption Информация о тендере
                        ul.list
                            li.list-item Щебень гранитный, щебень гравийный фр. 5-20мм ГОСТ 8267-93
                            li.list-item Песок для строительных работ ГОСТ 8736-93
                    td.table__column
                        .table__cell-caption Дата начала и окончания
                        .date.d-flex.justify-content-center.align-items-center.flex-xl-column
                            | 15.01.2021
                            .line
                            | 21.05.2021
                    td.table__column
                        .table__cell-caption Место поставки
                        strong ОАО «Спецстройбетон-ЖБИ 17»
                        br
                        | адрес:123308, г. Москва, 3-й Силикатный проезд, д.10, стр. 1.
                    td.table__column
                        .table__cell-caption Начальная цена
                        | 258 355
                    td.table__column
                        button.table__btn.btn ОСТАВИТЬ ЗАЯВКУ


                tr.table__line
                    td.table__column
                        .table__cell-caption Информация о тендере
                        | Щебень гранитный, щебень гравийный фр. 5-20мм ГОСТ 8267-93
                    td.table__column
                        .table__cell-caption Дата начала и окончания
                        .date.d-flex.justify-content-center.align-items-center.flex-xl-column
                            | 15.01.2021
                            .line
                            | 21.05.2021
                    td.table__column
                        .table__cell-caption Место поставки
                        strong ОАО «Спецстройбетон-ЖБИ 17»
                        br
                        | адрес:123308, г. Москва, 3-й Силикатный проезд, д.10, стр. 1.
                    td.table__column
                        .table__cell-caption Начальная цена
                        | -
                    td.table__column
                        button.table__btn.btn ОСТАВИТЬ ЗАЯВКУ


                tr.table__line
                    td.table__column
                        .table__cell-caption Информация о тендере
                        ul.list
                            li.list-item Щебень гранитный, щебень гравийный фр. 5-20мм ГОСТ 8267-93
                            li.list-item Песок для строительных работ ГОСТ 8736-93
                    td.table__column
                        .table__cell-caption Дата начала и окончания
                        .date.d-flex.justify-content-center.align-items-center.flex-xl-column
                            | 15.01.2021
                            .line
                            | 21.05.2021
                    td.table__column
                        .table__cell-caption Место поставки
                        strong ОАО «Спецстройбетон-ЖБИ 17»
                        br
                        | адрес:123308, г. Москва, 3-й Силикатный проезд, д.10, стр. 1.
                    td.table__column
                        .table__cell-caption Начальная цена
                        | 258 355
                    td.table__column
                        button.table__btn.btn ОСТАВИТЬ ЗАЯВКУ


                tr.table__line
                    td.table__column
                        .table__cell-caption Информация о тендере
                        ul.list
                            li.list-item Щебень гранитный, щебень гравийный фр. 5-20мм ГОСТ 8267-93
                            li.list-item Песок для строительных работ ГОСТ 8736-93
                    td.table__column
                        .table__cell-caption Дата начала и окончания
                        .date.d-flex.justify-content-center.align-items-center.flex-xl-column
                            | 15.01.2021
                            .line
                            | 21.05.2021
                    td.table__column
                        .table__cell-caption Место поставки
                        strong ОАО «Спецстройбетон-ЖБИ 17»
                        br
                        | адрес:123308, г. Москва, 3-й Силикатный проезд, д.10, стр. 1.
                    td.table__column
                        .table__cell-caption Начальная цена
                        | 258 355
                    td.table__column
                        button.table__btn.btn ОСТАВИТЬ ЗАЯВКУ