@import "../../../../scss/variables";

.table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  overflow: hidden;

  @media (min-width: $xl){
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
  }

  &__line {
    display: flex;
    flex-direction: column;

    @media (min-width: $xl) {
      display: table-row !important;
    }

    &:nth-child(even) {
      background-color: #eeeeee;

      @media (min-width: $xl) {
        background-color: transparent;
        .line {
          background-color: #eeeeee !important;
        }
      }
    }

    &:nth-child(odd) {
      background-color: transparent;

      @media (min-width: $xl) {
        background-color: #eeeeee;

        .line {
          background-color: white !important;
        }
      }
    }

    &_caption {
      display: none;
      background-color: #434245 !important;
      color: #ffffff;
      line-height: 21px;
      letter-spacing: 0.07px;
      text-align: left;

      .date-line {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid white;
        padding-bottom: 1px;
      }
    }

    th {
      padding: 8px 0 8px 35px;
      font-weight: 400;
    }

    td {
      padding: 7px 15px;
      line-height: 21px;
      width: 100%;
      text-align: center;

      &:first-child {
        padding-top: 25px;
      }

      &:last-child {
        padding-bottom: 25px;
      }

      @media (min-width: $xl) {
        padding: 25px 0 25px 30px;
        text-align: left;

        &:first-child {
          width: 410px;
        }

        &:nth-child(2) {
          width: 125px;
        }

        &:nth-child(4) {
          width: auto;
        }

        &:nth-child(3) {
          width: 280px;
        }

        &:last-child {
          padding-left:0;
          width: 250px;

          @media (min-width:$xxl) {
            padding-left: 5px;
          }
        }



      }
    }
  }

  &__column {
    .date {
      .line {
        width: 7px;
        margin: 0 5px;
        height: 1px;
        background-color: $clr-font;

        @media (min-width: $xl) {
          width: 71px;
          margin: 0 0 2px;
        }
      }
    }
  }

  &__btn.btn {
    width: 209px;
    padding: 0 !important;
    height: 53px;
    border-radius: 27px;
    color: #000000;
    font-family: $fnt-secondary;
    font-size: 15px;
    font-weight: 300;
    line-height: 32px;
    background-image: none !important;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,1) !important;
    margin-bottom: 7px;

    @media (min-width: $xl) {
      margin-bottom: 0;

      &:hover {
        color: white;
        box-shadow: inset 2px 1px 3px rgba(111, 53, 5, 0.25) !important;
        background-image: linear-gradient(0deg,$clr-accent 0,$clr-accent) !important;
      }
    }

    @media (min-width: $xxl) {
      margin-bottom: 0;
    }
  }

  &__cell-caption {
    display: block;
    font-weight: 700;
    color: $clr-accent;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 5px;

    @media (min-width: $xl) {
      display: none;
    }
  }
}