@import "../../../scss/variables";

.prices, .catalog {

  &__title {
    padding-bottom: 14px;

    @media (min-width: $lg) {

    }
  }

  &__link {
    text-align: right;
    margin: 0 auto 12px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: .07px;

    a {
      color: $clr-font;
      transition: $fnc-line;
      right: 1px;
      position: relative;
      border-bottom: 1px solid $clr-accent;

      &:hover {
        color: $clr-accent;
      }
    }

    @media (max-width: 1400px) {
      width: 856px;
    }

    @media (max-width: $xl - 1) {
      width: 572px;
    }

    @media (max-width: $lg - 1) {
      width: 288px;
    }

  }

  //- В каждом слайдер своя высота области видимости
  .slider__viewport {
    height: 387px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 3px;
      height: 100%;
      background-color: white;
      top: 0;
      z-index: 1;
    }

    &::after {
      right: -1px;
    }
  }

  //- В каждом слайдер свои стили для отдельного слайда
  .slider__item {
    width: 286px;
    height: 387px;
    border: 2px solid #e3e3e3;
    padding: 0 15px;

    &:nth-child(n+1) {
      margin-right: -2px;
    }
  }

  &__pic {
    width: 209px;
    height: 106px;
    background-size: cover;
    background-position: center;
    margin-top: 33px;
  }

  &__caption  {
    color: $clr-accent;
    font-family: $fnt-secondary;
    font-weight: 400;
    padding-top: 27px;
    padding-bottom: 1px;
  }

  &__desc {
    font-family: $fnt-secondary;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__price {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 21px;
    padding-bottom: 32px;

    span {
      font-size: 30px;
      font-weight: 700;
      display: inline-block;
      padding: 0 3px 0 5px;
    }
  }

  &__btn {
    a {
      width: 209px;
      height: 53px;
      background-color: #eeeeee;
      color: $clr-font;
      font-family: $fnt-secondary;
      font-size: 15px;
      font-weight: 300;
      line-height: 53px;
      padding: 0;
      text-align: center;
      box-shadow: none;
      background-image: none;

      &:hover {
        color: white;
      }
    }
  }

  &__slider {
    padding-bottom: 62px;

    @media (min-width: $sm) {
      padding-bottom: 0;
    }
  }

  .slider {
    margin: 0 auto;
    @media (max-width: 1400px) {
      width: 856px;
    }
    @media (max-width: $xl - 1) {
      width: 572px;
    }
    @media (max-width: $lg - 1) {
      width: 288px;
    }
  }
}