section.prices.section_container
    .container
        .prices__title.section_title ВАС ТАКЖЕ МОЖЕТ ЗАИНТЕРЕСОВАТЬ

        .prices__link
            a(href="/") Перейти в каталог щебня

        .prices__slider
            .slider
                .slider__controller.slider__controller_left(id="slider-controller-left")
                .slider__controller.slider__controller_right(id="slider-controller-right")
                .slider__viewport
                    .slider__list.d-flex

                        .slider__item.d-flex.flex-column.justify-content-start.align-items-center
                            .prices__pic(style="background-image: url('/img/catalog-rubble-1.jpg')")
                            .prices__caption ЩЕБЕНЬ
                            .prices__desc Гранитный щебень 5-20
                            .prices__price
                                | от
                                span 256
                                | руб.
                            .prices__btn
                                a(href="/").btn ПОДРОБНЕЕ

                        .slider__item.d-flex.flex-column.justify-content-start.align-items-center
                            .prices__pic(style="background-image: url('/img/catalog-rubble-2.jpg')")
                            .prices__caption ЩЕБЕНЬ
                            .prices__desc Доломитовый щебень
                            .prices__price
                                | от
                                span 290
                                | руб.
                            .prices__btn
                                a(href="/").btn ПОДРОБНЕЕ

                        .slider__item.d-flex.flex-column.justify-content-start.align-items-center
                            .prices__pic(style="background-image: url('/img/catalog-rubble-3.jpg')")
                            .prices__caption ЩЕБЕНЬ
                            .prices__desc Гранитный щебень 20-40
                            .prices__price
                                | от
                                span 271
                                | руб.
                            .prices__btn
                                a(href="/").btn ПОДРОБНЕЕ

                        .slider__item.d-flex.flex-column.justify-content-start.align-items-center
                            .prices__pic(style="background-image: url('/img/catalog-rubble-4.jpg')")
                            .prices__caption ЩЕБЕНЬ
                            .prices__desc Гранитный щебень 40-70
                            .prices__price
                                | от
                                span 256
                                | руб.
                            .prices__btn
                                a(href="/").btn ПОДРОБНЕЕ
